extends layout

block content
  h1 image search
  h3 search Example
  p https://timestamp-sugarball.herokuapp.com/imagesearch/cat?offset=10

  h3 recent search 
  p https://timestamp-sugarball.herokuapp.com/imagesearch/recent


