extends layout

block content
  h1 short url api
  h3 Example
  p https://timestamp-sugarball.herokuapp.com/shorturl/https://www.google.com

  h4 Result
  p { "original_url": "https://www.google.com", "short_url": "https://timestamp-sugarball.herokuapp.com/gourl/2314" }

  h4 using the shor link will redirect you to "https://www.google.com"
